*{
    margin: 0px;
    padding: 0px;
}
.all-header{
    height: 100vh;
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    font-family: Lato; 
    
}
.hrader-img{
    width: 500px; 
    height: 600px;
}
.headers{
    padding: 45px;
}
.header1{
    font-size: 70px;
    font-weight: bold;
    color:#272727;
    font-style: normal;
    font-weight: 700; 
    margin: 18px 22px;
}
.header2{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-weight: 350px;
    font-style: normal;
    margin: 18px 22px;
}
.btn{
    font-size:18px;
    font-weight: 400;
    background-color:#E55473;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    padding: 18px;
}
.hrader-img{
    margin-top: 200px;
    margin-right: 150;
}

/*Our Featured Flowers*/
.asif1{
    font-size: 40px;
}
.pic{
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    
}
.asif{
    text-align: center;
    margin-top: 60px; 
}
.pra{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
}
.col{
    color:#272727
}

/*Hot Deal ! Sale Up To 25% Of*/
.sec2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05); 
}
.sec22{
    text-align: center;
    margin-top: 200px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 230px;
    color: #272727;
    
    
    
}
.pic-sec{
    margin-top: 170px;
    margin-right: 190px;
    padding-bottom: 90px;
    height: fit-content;
    width: fit-content;
}
.sec23{
    font-size: 40px;
    font-weight: 800px;
    
}
.sec24{
    color: color: rgba(39, 39, 39, 0.60); ;
    padding: 20px;
}
.sec25{
  color:#E55473
}
.btn2{
    padding-top:15px ;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-radius: 8px;
    background: #E55473; 
}
